<h4>Internal Server Error: refreshing the page will hide the error</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold">Note: If you are seeing this, then Angular is probably ok</p>
  <p>What to do next?</p>
  <ol>
    <li>Open the Chrome Dev Tools</li>
    <li>Inspect the Network Tab</li>
    <li>Check the failing Request</li>
    <li>Examine the Request URL and make sure it is the correct server</li>
    <li>Reproduce the error in Postman; if you see the same response, then the issue is not with Angular</li>
  </ol>
  <p>Following is the Stack Trace; this is where your investigation should start</p>
  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>

</ng-container>
